@import 'base';
@import '~bootstrap/scss/bootstrap.scss';

html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Cabin, Arial, Helvetica, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1 {
  color: $primary-color;

}
@media (max-width: 576px) { 
  h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
  }
}

a {
	color: $primary-color;
}

.link {
	cursor: pointer;
	color: $primary-color;
}

.hide {
	display: none;
}