@import "../../../styles/_base.scss";

#home {
	.topping {
		input {
			margin-right: 3px;
		}
	}

	button {
		margin-top: 5px;
		border-radius: 5px;
	}
}

@media (max-width: 576px) { 
  #home {
  	button {
  		width: 100%;
  		padding: 10px 25px;
  	}
  }
}
